.fancy-button {
  border: 3px solid #eebc02;
  border-radius: 20px;

  background: #ea5f48;

  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  height: 50px;
  width: 100px;

}